ion-toolbar{
    --ion-background-color: #4d4d4d;
    color: white;

}
ion-label{
    color: white;
}
ion-segment-button{
    color:white;
}

ion-segment{
    color:white;
}

ion-slides,
ion-slide {
  height: 100%;
  font-size: 48px !important;
}

.slide-1 {
  background: #e0bbe4;
}

.slide-2 {
  background: #957dad;
  color: #fff;
}
