<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Acitivity Feed</ion-title>
    <a [routerLink]="['/profile']" routerLinkActive="router-link-active" slot="end">    
      <ion-icon ios="ios-contact" md="md-contact" class="circle-icon" style="zoom:2.0;" slot="end"></ion-icon>
    </a>
    <a [routerLink]="['/notification']" routerLinkActive="router-link-active" slot="end">    
      <ion-icon ios="ios-notifications" md="md-notifications" class="circle-icon" style="zoom:2.0;" slot="end"></ion-icon>
    </a>
    <a routerLink="#" slot="end" > 
      <ion-icon ios="ios-more" md="md-more"  class="circle-icon" style="zoom:2.0;" slot="end"></ion-icon>
    </a>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
