
  
    <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="mongodb"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-title>  SQL and MongoDB</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text>
        

          <p>You should know the differences between SQL and NoSQL databases. If you are coming from a SQL database, this guide will help you catch up with the terminology.</p>
          
          <p>The following table presents SQL terminology and concepts and the corresponding MongoDB terminology and concepts.</p>

          <ion-img src="../../assets/image/sql1.jpg" ></ion-img>
          <p>As you can see, some of the keywords are similar. However, they work in different ways under the hood.</p>

              <p>The database executables are different, too:</p>
              <ion-img src="../../assets/image/sql2.jpg" ></ion-img>

</ion-text>
  
 
  <ion-card color="warning">
  <ion-grid>
      <ion-row>
        <ion-col size="2">
            <ion-icon ios="ios-alert" md="md-alert" style="zoom:2.0;"></ion-icon>
      
        </ion-col>
          <ion-col size ="10">
            <p>However, the primary operations such as Create and Alter, Insert, Select, Update and Delete are similar (with different syntax in some cases).</p>
          </ion-col>
        </ion-row>
      </ion-grid>
        </ion-card>  

</ion-card-content>        
</ion-card>

</ion-content>
