  <ion-tabs >


      <ion-tab-bar color="dark">
        <ion-tab-button tab="learn">
          <ion-icon ios="ios-school" md="md-school"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="play" >
          <ion-icon ios="ios-flash" md="md-flash"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="userhome" >
          <ion-icon ios="ios-home" md="md-home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="code">
          <ion-icon ios="ios-code" md="md-code"></ion-icon>
        </ion-tab-button>
          
          <ion-tab-button tab="discussion">
            <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
          </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>