
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="angular"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>What is AngularJS?</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-text>
         <p> AngularJS is a JavaScript framework that embraces extending HTML into a more expressive and readable format. It allows you to decorate your HTML with special markup that synchronizes with your JavaScript allowing you to write your application logic instead of manually updating views.</p>

          <p>In order to start using AngularJS, we need to add the framework to our HTML: </p>
          
          <ion-toolbar color="dark">
        
                  <p>&lt;!DOCTYPE HTML&gt;</p>
                  <p>&lt;html&gt;</p>
                  <p>&lt;head&gt;</p>
                  <p>&lt;script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;</p>
                  <p>&lt;/head&gt;</p>
                  <p>&lt;/html&gt;</p>
            
          </ion-toolbar>
         <p> As you can see, we use the script tag to add the JavaScript file using the official CDN.</p>
  
      </ion-text>
      
      
      <ion-card color="warning">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-icon ios="ios-alert" md="md-alert" style="zoom:2.0;"></ion-icon>
              
            </ion-col>
            <ion-col size ="10">
              <p>AngularJS is open source. 
              It is the frontend part of the MEAN stack, consisting of MongoDB database, Express.js web application server framework, AngularJS itself, and Node.js server runtime environment.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>          
    </ion-card-content>
    </ion-card>
    <ion-toolbar>
      <ion-button href="expressions" color="success" slot="end">Continue</ion-button>
      
  </ion-toolbar>

    
</ion-content>
