
  
    <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="git"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Version Control?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text>

      <p>When you are working on a simple project,
         such as a single page html, 
         it is fairly easy to remember the last thing you changed and where the development
          is headed. But tracking revisions over time, also referred to as <ion-text color ="dark">version control</ion-text>, 
          ly becomes more complex when you are working on a large project with multiple files and
           multiple developers.</p>

<p>You not only want to record changes, but also who made the changes, and when. Managing revisions at this level requires a <ion-text color="dark">version control system.</ion-text>
</p>
<p><ion-text color="dark">Version Control Systems (VCS)</ion-text> help a software team manage changes to source code over time. 
</p>
  <p>VCS software includes tools for saving the state of a project, viewing the history of changes, and reverting changes. 
  </p>
    <p>Developing software without using version control is risky, similar to not having backups.
    </p>
<p>VCS can also enhance and speed up development. Depending on the version control software used, many developers can work on the same code at the same time.
</p>
  <p>For example, one developer on the team may be working on a new feature while another developer fixes an unrelated bug, each developer making their changes in several parts of the code base. 
  </p>
<p>VCS even have tools to prevent conflicts when one developer's changes are incompatible with changes made at the same time by another developer.
</p>   
</ion-text>


<ion-card color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
          <ion-icon ios="ios-alert" md="md-alert" style="zoom:2.0;"></ion-icon>
          
        </ion-col>
        <ion-col size ="10">
          One of the most popular Version Control Systems (VCS) is <ion-text color="dark">Git.</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>          
</ion-card-content>
</ion-card>
                          <ion-toolbar>
                            <ion-button href="/vsc" color="success" slot="end">Continue</ion-button>
                            
                          </ion-toolbar>
                        </ion-content>



