<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="machine"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-card>
<ion-card-header>
  <ion-card-title> Neural Networks</ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-text>
     

      <p>The goal of artificial neural network machine learning algorithms is to mimic the way the human brain organizes and understands information in order to arrive at various predictions.</p> 
      
      <p><ion-text color="dark">Neural networks,</ion-text> with their remarkable ability to derive meaning from complicated or imprecise data, can be used to extract patterns and detect trends that are too complex to be noticed by either humans or other computer techniques.</p>
      
     <p> Artificial neural networks, like real brains, are formed from connected<ion-text color="dark"> "neurons",</ion-text> all capable of carrying out a data-related task, such as recognizing something, matching a piece of information to another piece, and answering a question about the relationship between them.</p>
      <p>Each neuron is capable of passing on the results of its work to a neighboring neuron, which can then process it further. </p>
      <p>Typically, neurons are organized in <ion-text color="dark">layers. </ion-text>Different layers may perform different kinds of transformations on their inputs. Signals travel from the first (input), to the last (output) layer, possibly after traversing the layers multiple times.</p>
     <p> This is what a typical simple neural network looks like:</p>

      <ion-img src="../../assets/image/machine1.jpg"></ion-img>

      <p>Because the network is capable of changing and adapting based on the data that passes through it, the connections between these neurons are fine-tuned until the network yields highly accurate predictions. It can be thought of as <ion-text color="dark">"learning",</ion-text> in much the same way as our brains do. </p>

      <p>Neural networks have been used on a variety of tasks, including computer vision, speech recognition, machine translation, playing board and video games, medical diagnosis, and in many other domains.</p>
</ion-text>


<ion-card color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon ios="ios-alert" md="md-alert" style="zoom:2.0;"></ion-icon>
        
      </ion-col>
      <ion-col size ="10">
        <p>Check out the lessons below for some example uses of artificial neural networks.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>          
</ion-card-content>
</ion-card>
<ion-toolbar>
<ion-button href="/maths" color="success" slot="end">Continue</ion-button>

</ion-toolbar>

</ion-content>