ion-toolbar{
    color:#4d4d4d;
}

.circle-icon {
    background-color: #e3e3e3;
    padding: 5px;
    border-radius: 50%;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;

}
ion-title{
    color:white;
}
ion-button{
    color:white;
}