
  
    <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="mongodb"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content>
<ion-card>
    <ion-card-header>
      <ion-card-title>What is Mongoose?
        </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text>
        <p>    <ion-text color="dark">Mongoose</ion-text> is an intermediary between MongoDB and the server (Node.js), which makes interactions with a database (create, read, write, etc.) very simple.</p>

          <p>  In other words, as it mentioned on their <a href="https://mongoosejs.com">official website:</a> "Mongoose provides a straight-forward, schema-based solution to model your application data. It includes built-in typecasting, validation, query building, business logic hooks and more, out of the box."</p>
            
            <p>By default, it supports an asynchronous environment, so you can use its module methods just like any other tools in Node.js.</p>
  
</ion-text>



<ion-card color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon ios="ios-alert" md="md-alert" style="zoom:2.0;"></ion-icon>
        
      </ion-col>
      <ion-col size ="10">
        <p>You can find additional information about their npm package<a href="https://www.npmjs.com/package/mongoose"> here.</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>          

</ion-card-content>
</ion-card>
<ion-toolbar>
  <ion-button href="/set-up-mongoose" color="success" slot="end">Continue</ion-button>
  
</ion-toolbar>

</ion-content>
