<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="machine"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-card>
<ion-card-header>
  <ion-card-title>What is Machine Learning? </ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-text>
      

<p><ion-text color="dark">Machine learning</ion-text> gives computers the ability to learn without being explicitly programmed.</p>
<p>It is the ability for computer programs to analyze data, extract information automatically, and learn from it.</p>
<p>So, basically, implementing machine learning means creating <ion-text color="dark">algorithms</ion-text> which can learn and make 
predictions on data.</p>

<p>Some examples of machine learning:</p>
 <p>- Amazon recommendations based on the customer’s browsing and purchasing behavior.</p>
 <p>- Google's search engine, that ranks the websites by relevancy.</p>
 <p>- Self-driving cars.</p>
 <p>- Email spam filters.</p>

<p>All of the systems above learn and improve themselves as more and more data is provided: The more you search and purchase on Amazon, the better recommendations it gives. The more emails you mark as spam, the better the system filters new emails. The more situations the self-driving car navigates, the better it drives.</p>

<p>This is very similar to how we humans learn. 
  A typical example is the problem of <ion-text color="dark">classification.</ion-text>
   For instance, the email spam filter needs to classify the spam and not spam emails. 
   Note, that this is quite user-dependent.
    If we know that a specific user is marking all the travel emails as spam,
     we are going to classify the new emails more effectively.
      More relevant data leads to better predictions.</p>
</ion-text>


<ion-card color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon ios="ios-alert" md="md-alert" style="zoom:2.0;"></ion-icon>
        
    </ion-col>
      <ion-col size ="10">
        <p>Basically, a learner's goal is to <ion-text color="dark">generalize</ion-text> from its experience.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
    </ion-card>          
  </ion-card-content>
  </ion-card>
  <ion-toolbar>
    <ion-button href="/types" color="success" slot="end">Continue</ion-button>

</ion-toolbar>

</ion-content>